@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
  background-image: url('https://shorturl.at/kruT9');
  color: aliceblue;
  background-repeat:no-repeat;
  background-size:auto;
  backdrop-filter: saturate(110%);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.first-box{
  padding: 10px;
  margin: 1rem;
  backdrop-filter:saturate(180%) blur(3px);
  border-radius: 1rem;
  height: 28rem;
  width: 30rem;
}
 /* login inputs css */
.loginbox{  
padding: 25px;
}

button{
  width: 48%;
  height: 30px;
}
.btn1{
 /*styles*/
 
 margin-right: 2%;
}
.btn2{
  /*styles*/
 
  margin-left: 2%;
}

.btn{
  margin-top: 30px;
  column-count: 50%;

}

input{
  width: 300px;
  height: 20px;
 border-radius: .5rem;
  border: 2px solid black;
}

h4{
  font-family: 'Oswald', sans-serif;
}