.container{
  
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 80%;
  padding: auto;
  height: 500px;
}
.box{
  height: 500px;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-template-columns: 50%;
  grid-auto-flow: column;
}
.first-box{
  background-color: aqua;
  padding: 10px;
}
.loginbox{
padding: 50px;
}
.second-box{
  background-color: blueviolet;
}

button{
  width: 50%;
  height: 30px;
}
.btn1{
 
  
}
.btn2{

}

.btn{
  margin: 5px;
 
}